@charset "utf-8";

@font-face {
  font-family: 'Cascadia Code NF';
  font-style: normal;
  font-weight: normal;
  src:
    local('Cascadia Code NF'),
    url('./fonts/CascadiaCodeNF.ttf') format('ttf'),
    url('./fonts/CascadiaCodeNF.woff2') format('woff2');
}

@font-face {
  font-family: 'Cascadia Mono NF';
  font-style: normal;
  font-weight: normal;
  src:
    local('Cascadia Mono NF'),
    url('./fonts/CascadiaMonoNF.ttf') format('ttf'),
    url('./fonts/CascadiaMonoNF.woff2') format('woff2');
}

// Define defaults for each variable.

$base-font-family: 'Cascadia Code NF';
$code-font-familiy: 'Cascadia Mono NF';
$base-font-size:       16px !default;
$heading-font-size:    50px !default;
$base-font-weight:     400 !default;
$small-font-size:      $base-font-size * 0.875 !default;
$base-line-height:     1.5 !default;

$spacing-unit:     80px !default;

// Green color palette
$void-green:               #001109;
$dark-green:               #002515;
$castleton-green:          #0D5235;
$dark-spring-green:        #1A7E54;
$pigment-green:            #1FA74F;
$emerald:                  #34D773;
$celadon:                  #8FE6A9;
$vanilla:                  #E9DE97;
$cream:                    #EBECB5;
$nyanza:                   #EDFAD2;
$ivory:                    #F5FAE8;


// Blue color palette
$oxford-blue:              #0A192F;
$cool-gray:                #8892B0;
$periwinkle:               #CCD6F6;
$aquamarine:               #64FFDA;

// Rosé Pine Moon palette
$rosepine-base:            #232136;
$rosepine-surface:         #2A273F;
$rosepine-overlay:         #393552;

$rosepine-pine:            #3E8FB0;
$rosepine-foam:            #9CCFD8;
$rosepine-iris:            #C4A7E7;
$rosepine-text:            #E0DEF4;
$rosepine-rose:            #EA9A97;
$rosepine-love:            #EB6F92;
$rosepine-gold:            #F6C177;
$rosepine-subtle:          #908CAA;
$rosepine-highlight-high:  #56526e;


// Header colors
$header-background-color:  $rosepine-base !default;
$header-border-color:      $rosepine-foam !default;
$header-link-color:        $rosepine-subtle !default;
$header-link-hover-color:  $rosepine-foam !default;

// Greeting
$greeting-color:           $rosepine-foam !default;

$background-color:         $rosepine-base !default;
$text-color:               $rosepine-text !default;
$link-color:               $rosepine-foam !default;
$link-border-color:        fade-out($rosepine-foam, 0.7) !default;
$link-background-color:    $rosepine-base !default;
$link-hover-color:         $rosepine-foam !default;
$link-hover-border-color:  $rosepine-foam !default;
$link-hover-background:    $rosepine-base !default;
$brand-color:              $rosepine-foam !default;
$heading-color:            $rosepine-subtle !default;
$heading-line-color:       $rosepine-highlight-high !default;
$subheading-color:         $rosepine-subtle !default;
$code-text-color:          $rosepine-text !default;
$code-background-color:    $rosepine-surface !default;
$code-border-color:        $rosepine-highlight-high !default;

$grey-color:               $rosepine-subtle !default;
$grey-color-light:         lighten($grey-color, 40%) !default;
$grey-color-dark:          darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    1100px !default;

$on-palm:          850px !default;
$on-laptop:        1300px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
